{% extends 'login_register_base_layout.html' %}
{% load static %}
{% block content %}
<div class="col-md-6">
    <div class="m-5 text center">
        <h2 data-aos="fade-up" data-aos-delay="300">Welcome!</h2>
    </div>
    <form class="m-5" action="POST" data-aos="fade-up" data-aos-delay="500">
    
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" placeholder="John" id="username">
    

        <label class="form-label" for="email">Password</label>
        <input class="form-control" type="password" placeholder="********" id="email">
        
        <button type="submit" class="form-control" id="submit-button" name="login">Log In</button>

    </form>
</div>
<div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
    <div>
        <img data-aos="fade-up" data-aos-delay="500" src="{% static 'login-register/login_img.svg' %}" alt="login" class="img-fluid p-5">
    </div>
</div>
{% endblock %}