{% extends 'login_register_base_layout.html' %}
{% load static %}

{% block content %}
<div class="col-md-6">
    <div class="m-5 text center">
        <h2 data-aos="fade-up" data-aos-delay="300">Join Us!</h2>
    </div>
    <form class="m-5" action="POST" data-aos="fade-up" data-aos-delay="500">
    
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" placeholder="John" id="username">
        
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" placeholder="John@gmail.com" id="email">

        <label class="form-label" for="password1">Password</label>
        <input class="form-control" type="password" placeholder="********" id="password1">

        <label class="form-label" for="password2">Confirm Password</label>
        <input class="form-control" type="password" placeholder="********" id="password2">
        
        <button type="submit" class="form-control" id="submit-button" name="login">Register</button>

    </form>
</div>
<div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
    <div>
        <img data-aos="fade-up" data-aos-delay="500" src="{% static 'login-register/register.svg' %}" alt="login" class="img-fluid p-5">
    </div>
</div>

{% endblock %}