{% extends 'login_register_base_layout.html' %}
{% load static %}

{% block content %}

    <div class="col-md-6">
        <div class="m-5">
            <h2 data-aos="fade-up" class="text-center" data-aos-delay="300">Join Us!</h2>
        </div>
        <form class="m-5" action="{% url 'register' %}" method="POST" data-aos="fade-up" data-aos-delay="500">
            {% csrf_token %}
            {{ register }}
            <button type="submit" class="form-control" id="submit-button" name="login" value="login-form">Register</button>

        </form>
    </div>

    <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
        <img data-aos="fade-up" data-aos-delay="500" src="{% static 'login-register/register.svg' %}" alt="login" class="img-fluid p-5">
    </div>

    <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
        <p class="text-center">Have an account? <a href="/login/" class="active">Sign In</a></p>
    </div>

{% endblock %}